@CHARSET "ISO-8859-1";
* {
	margin:0;
	padding:0;
	list-style-position: inside;
}

body {
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
}

.textInput {
	height: 20px;
	border: 1px solid;
	vertical-align: middle;	
}

.buttonInput {
	height: 23px;
	vertical-align: text-top;
}

#head {
	text-align: left;
	height: 100px;
}

#logo {
	float: left;
	width: 150px;
	margin: 10px 20px 10px 0;
}

#logo img {
	border: none;
	width: 200px;
	height: 70px;
}

#searchForm {
	float: left;
	margin-top: 30px;
	margin-bottom: 50px;
}

#sideMenu {
	margin: 35px 5px 40px 5px;
}
		
#sideMenu ul {
	list-style-type: none;
}

#sideMenu li {
	display: inline;
}
		
		
#divider {
	clear: left;
	border-top: 1px solid #7C90A9;
	background-color: #EFF7F9;
	height: 22px;
	margin-bottom: 20px;
	text-align: right;
	padding-top: 5px;
	font-size: small;
}

#searchSummary {
	margin-right: 40px;
}

.giftItem {
	width: 700px;
	font-size: small;
    margin-left:10px;
    margin-bottom:40px;
}

.giftPic {
	float: left;
}

.giftTitle {
	font-weight: bold;
	margin: 5px;
}

.giftPrice {
	margin-top: 5px;
	font-weight: bold;
    color:orangered;
}

.giftSnippet {
	margin-top: 5px;
}

.giftUrl {
    color:cadetblue;
    margin-top: 5px;
}

#pageLinks {
    text-align:center;
}
