@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

a {
	font-style: normal;
}

body {
	background-color: white;
	text-align: center;
}

ul {
	list-style-type: none;
}

#top li {
	margin: 5px;
	display: inline;
}

#top {
	text-align: left;
	border: 1px solid green;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 100%;
	font-size: small;
}

#logo {
	margin-top: 60px;
	margin-bottom: 30px;
}

#main {
	width: 700px;
	margin:auto auto;
}

#formText {
	width: 700px;
	text-align: left;
}

#form {
	width: 640px;
	float: left;
}

#textInput {
	width: 640px;
}

#sideMenu {
	font-size: small;
	vertical-align: top;
	text-align: left;
	float: right;
}

#bottomMenu {
	margin-top: 80px;
} 

#bottomMenu li {
	margin: 30px;
	display: inline;
}